@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;

}

.sign-up-page {
    display: flex;
    min-height: 100vh;
    width: 100%;
}

.sign-up-visual {
    width: 35vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction:column-reverse;
    align-items: center;
    background-image: url(./images/sign-up-background.jpg);
    background-position: center left;  
    background-size: 100vh;
    background-attachment: fixed;
}

.logo-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 7rem;
    position: absolute;
    top: 200px;
}

.odin-logo {
    height:85%;
}

.logo-text {
    color: white;
    font-size: 5rem;
    font-family: 'Norse';
}

.photo-credit {
    position: absolute;
    color: white;
    font-size: 0.6rem;
}

.form-container {
    padding: 50px 0px;
    background-color: rgb(240, 240, 240);
    width: 65vw;
}

.slogan-container {
    width: 100%;
}

.sign-up-slogan {
    margin: 35px;
    overflow-wrap: normal;
    max-width: clamp(45ch, 66ch, 75ch);
    font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
    font-weight: 500;
}

.slogan-emphasis {
    display: block;
    margin-top: 1.5rem;
}

.form-wrapper {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    padding: 20px 0;
    box-shadow:0 6px 12px -6px grey;
    box-sizing: border-box;
}

.form-heading {
    width:100%;
    padding: 10px 35px;
    color:rgb(80, 80, 80);
}

.form-heading h2 {
    font-size: clamp(1.2rem, 1vw + 0.8rem, 2rem);
    font-weight: 500;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 1px;
    padding: 15px 35px;
    width: 350px;
}

label {
    font-size: clamp(0.8rem, 0.3vw + 0.7rem, 1rem);
    font-weight: 500;
    color:rgb(80, 80, 80);
}

input {
    padding: 0.5em 0.9em;
    border-radius: 0.3rem;
    border: 1px solid rgb(212, 212, 212);
    font-size: clamp(1rem, 0.5vw + 0.8rem, 1.125rem);
    background-color: rgb(254, 253, 253);
}

.form-actions {
    padding: 35px;
}

button {
    padding: 0.7em 3em;
    font-size: clamp(0.9rem, 0.4vw + 0.8rem, 1.1rem);
    font-weight: 500;
    border: unset;
    border-radius: 0.5rem;
    background: #0069ed;
    color: #ffffff;
    cursor:pointer;
}

.redirect-text {
    margin: 25px 0px;
    font-size: clamp(1rem, 0.5vw + 0.8rem, 1.125rem);
}

.redirect-link {
    color: #0069ed;
    font-weight: 500;
    text-decoration: none;
}


/* Form interactive styles */

input:focus {
    box-shadow: 5px 5px 15px -6px grey;
}


.error.message {
    color: red;
    margin: 8px 0;
    font-size: clamp(0.75rem, 0.3vw + 0.7rem, 0.9rem);
}


.requirements.title {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 7px;
    color:rgb(80, 80, 80);
}

.requirements.helper {
    display:none;
    color: grey;
    margin: 9px 0;
    font-size: clamp(0.75rem, 0.3vw + 0.7rem, 0.9rem);
}

.requirements.helper.active {
    display: block;
    color: grey;
    margin: 9px 0;
    font-size: clamp(0.75rem, 0.3vw + 0.7rem, 0.9rem);
}

.pw-rule {
    display: inline-block;
    margin: 5px 0;
}

.icon.fa-regular {
    margin-right: 3px;
}

input.error {
    outline: 0.5px solid red;
}

.fa-triangle-exclamation {
    margin-right: 3px;
}


/* Smaller screen width styles */

@media (max-width: 720px) {
    .sign-up-page {
        flex-direction: column;
        width: 100%;
    }

    .sign-up-visual {
        width: 100%;
        height: 12rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo-wrapper {
        position: static;
    }

    .photo-credit {
        bottom: 10px;
    }


    .form-container {
        width: 100%;
    }

    .slogan-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .sign-up-slogan {
        width: min(90%, 450px);
    }

    .form-wrapper {
        padding: 2rem 1rem;
        flex-direction:column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .form-heading {
        text-align: center;
        
    }

    .form-group{
        width: min(90%, 450px);
        margin: 0 auto;
        padding: 0.7em 0;
    }

    .form-actions {
        width: 75%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }


    button {
        margin: auto;
    }
}
